
.user-page-Logo{
    width: 50px;
    border-radius: 50%;
}

.nav-container .user-nav{   
    border-bottom: 1px solid #FF8904;
    box-shadow: 0px 1px 6px 3px rgb(141, 141, 141);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FF8904;
    gap:10px;
    padding: 0 50px;
 
}
.user-link-container{
    text-align: center;
    transition: all 0.3s ease;
}


.user-link-container:hover{
    transform:translateY(-5px);
}
.user-nav-link:hover{
color:black;
}
.user-nav-link{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    width: 100%;
 
}

.user-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.Profile{
    width: 30px;
    border-radius: 50%;
}
.user-profile-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.user-profile-sub p{
    color: white;
    font-weight: bold;
}
.user-profile-container{
    position: relative;
}
.profile-dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    position: absolute;

    background-color: #FF8904;
    padding: 10px 0px;
    min-width: 100px;
    top:45px;
    left: -10px;
    box-shadow: 0px 0px 5px 0px #FF8904;
    border-radius: 4px;
    z-index: 999;
}
.profile-dropdown-menu .dropdown-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    width: 100%;
   
}
.dropdown-link-container{
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.dropdown-link-container:hover{
      background-color: rgba(255, 255, 255, 0.2);
}