
.manage-posts-table-darkbrown{
    background-color: #8B5A2B;
    min-height: 100dvh;
    border-radius: 4px;
    padding: 20px;
}
.manage-posts-table-lightbrown{
    background-color: #D6A96D;
    min-height: 100dvh;
    box-shadow: inset 0px 0px 10px 2px #8B5A2B;
}
.manage-posts-table-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.manage-posts-table-title{
    background-color:#FBFCF8;
    width: 80%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
.posts-table{
    border-collapse: collapse;
    width: 95%;
    margin: 10px;
    background-color: #FBFCF8;
    border-radius: 4px;
}
th,td{
 text-align: center;
 padding: 10px;
  

}