.Show{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 6rem;  
}
.navigation-auth .Show .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 7px;
    color: white;
    font-weight: bold;    
    background-color: #FF8904;
    transition: all 0.3s ease;
    border-radius: 4px;
    margin: 10px;
}

.navigation-auth .Show .nav-link:hover{
 transform: scale(1.1);

}